.hero-section {
  background: linear-gradient(135deg, #4f46e5 0%, #3b82f6 100%);
  color: white;
  text-align: center;
  padding: 5rem 2rem;
  height: 535px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-top: 8rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.typing-effect {
  font-size: 1.25rem;
  margin-top: 10px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 2rem;
}

.hero-button {
  margin-top: 2rem;
  background: white;
  color: #2563eb;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.hero-button:hover {
  background: #2563eb;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
@media (max-width: 630px) {
     .hero-section {
        padding: 1rem 2rem;
        height: 541px;
    }
  .hero-content h1 {
    font-size: 2rem;
  }
}